.Rproj.user
.Rhistory
.RData
.Ruserdata
Icon[]
Icon[\r]
Icon[\r\r]
Icon?
Icon^M^M
**/Icon?
data/backup
*.gsheet
data/*.docx
data/lit search/HTMLs
data/lit search/PDFs*
data/lit search/psychInfo2021
data/lit search/Theories
data/lit search/Mendeley Export
data/OSF
Feedback/
Misc/